<%- include('layout/header') %> 
    <div class="container">
      <div class="card">
        <!-- header -->
        <header>
          <nav class="nav">
            <a class="nav-link active nav-brand" href="/"><i class="fas fa-cart-arrow-down"></i> Electronic<span class="fw-normal">_Store</span> </a>
            <a class="btn-add ms-auto me-5" href="/whistlist"><< Back</a>
          </nav>
        </header>
        <ul class="list-group mt-4" ">
          <li style="background-color: rgb(26, 26, 26,0.1);font-size: 20px;" class="list-group-item fw-bold" >Description Product</li>
          <li style="background-color: rgb(26, 26, 26,0.1);" class="list-group-item "><%= data.name %> </li>
          <li style="background-color: rgb(26, 26, 26,0.1);" class="list-group-item">Stock : <%= data.quantity %></li>
          <li style="background-color: rgb(26, 26, 26,0.1);" class="list-group-item">Rp. <%= data.price %></li>
        </ul>
        <!-- success -->
        <% if (messages.successadd) { %>
          <div class="alert alert-danger" role="alert"><%- messages.successadd %></div>
          <% } %>
        <form class="mt-2" action="/save" method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Name : </label>
            <input type="text" class="form-control" id="name" placeholder="input your name" autocomplete="off" name="name" required/>
          </div>
          <div class="mb-3">
            <label for="tel" class="form-label">No. Telephone : </label>
            <input type="tel" class="form-control" id="tel" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}" placeholder="ex: 0838-XXXX-XXXX" autocomplete="off" name="no_telp" required/>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email : </label>
            <input type="email" class="form-control" id="email" placeholder="input your email" autocomplete="off" name="email" required />
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address : </label>
            <input type="text" class="form-control" id="address" placeholder="input your address" autocomplete="off" name="address" required />
          </div>
          <label for="buy" class="form-label">Buy : </label>
          <select class="form-select" aria-label="Default select example" name="buy">
            <option selected>choose how much to buy the product</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <div class="mb-3 mt-3">
            <label for="buy" class="form-label">Product : </label>
            <input type="text" class="form-control" id="buy" placeholder="input : '' <%= data.name %> ''" autocomplete="off" name="product"  value="<%= data.name %>" required style="background-color: rgba(195, 226, 110, 0.5);"/>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price : </label>
            <input type="price" class="form-control" id="rupiah" autocomplete="off" name="price" placeholder="input : '' Rp. <%= data.price %> ''" value="Rp. <%= data.price %>" required style="background-color: rgba(195, 226, 110, 0.5);"/>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
            <label class="form-check-label" for="flexCheckDefault">
              agree to buy the product
            </label>
          </div>
          <button type="submit" class="btn btnAdd" style="width: 100px;">Buy</button>
        </form>
    </div>
    </div>
    <%- include('layout/footer') %> 