<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <title>Electronic | Store</title>
    <!-- Mys Style -->
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <!-- Header  -->
    <header>
      <nav class="nav fixed-top shadow-sm">
        <a class="nav-link active nav-brand" href="/products"><i class="fas fa-cart-arrow-down"></i> Electronic<span class="fw-normal">_Store</span> </a>
        <button class="btn btn-login ms-auto me-3"><a href="/whistlist">WhistList</a></button>
        <button class="btn btn-login ms-auto me-3"><a href="/login">Login</a></button>
      </nav>
    </header>
    <div class="container">
      <!-- Jumbotron Start -->
      <div class="row jumbotron">
        <% if (messages.successadd) { %>
        <div class="alert alert-danger" role="alert"><%- messages.successadd %></div>
        <% } %> <% if (messages.successWhistlist) { %>
        <div class="alert alert-danger" role="alert"><%- messages.successWhistlist %></div>
        <% } %>
        <div class="col-md-4">
          <div class="content mt-5">
            <h1>Welcome to</h1>
            <h1 class="fw-bold">Electronic_Store</h1>
            <br />
            <p class="text-muted">
              this website sells electronic <br />
              goods with the best quality
            </p>
            <div class="shop-now mt-4">
              <a href="#shop-now" class="page-scroll btn btn-warning fw-bold pt-3 pb-3 ps-5 pe-5 shadow-lg">Shop Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <img src="images/jumbotron.png" width="100%" />
        </div>
      </div>
      <!-- Jumbotron End -->
      <div class="text-product text-center mt-5" id="shop-now">
        <h2>Products</h2>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <form class="d-flex mb-2" action="/" method="post">
            <input class="form-control me-2" type="search" placeholder="Search products.." aria-label="Search" name="search" autocomplete="off" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="card">
        <!-- success -->
        <!-- success -->
        <!-- Products -->
        <div class="row products">
          <% if (!data.length) { %>
          <div class="row alerts">
            <div class="col-md text-center">
              <div class="alert alert-warning" role="alert">product not found !</div>
            </div>
          </div>
          <% } %> <% data.forEach(data => { %>
          <div class="col-md-4 mb-3">
            <div class="card ms-3" style="width: 90%">
              <img src="images/<%= data.images %> " class="card-img-top" height="250px" />
              <div class="card-body">
                <h5 class="card-title fw-bold"><%= data.name %></h5>
                <p>Rp. <%= data.price %></p>
                <p class="text-muted">Stock : <%= data.quantity %></p>
              </div>
              <a href="/whistlist/<%= data.id_products %>" class="btn btn-product fw-bold" style="background-color: transparent !important; border: solid 2px rgba(0, 0, 0, 0.212)">WhistList <i class="fas fa-plus ms-2"></i></a>
              <a href="/buy/<%= data.id_products %>" class="btn btn-product fw-bold">Buy</a>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <footer style="background-color: #ffcd39">
      <div class="container text-center mt-5 p-3 container-footer">
        <div class="sosmed">
          <a href="http://www.linkedin.com/donny-marsahid">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="http://facebook.com/donymarsahid"><i class="fab fa-facebook"></i></a>
          <a href="http://instagram.com/donnymrshd"><i class="fab fa-instagram"></i></a>
        </div>
        <p class="text-muted" style="color: rgb(31, 31, 31) !important; font-weight: 600">
          &copy;2021
          <a href="http://instagram.com/donnymrshd" class="text-muted" style="font-weight: 600; text-decoration: none; color: rgb(31, 31, 31) !important"> Donny Marsahid </a>
        </p>
        <div class="code">
          <a href="https://dribble.com/"><i class="fab fa-dribbble"></i></a>
          <a href="https://github.com/donnymarsahid"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"
      integrity="sha512-xq+0+dRhI6SZOh+lDnMJEju2p2YPINflJLcYrRAsIMaXnJi6/V3lppCMCYsB2MLeF2E93r+fVo0MioY90pNzpw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="javascripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
