<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <title>Electronic | Store</title>
    <!-- Mys Style -->
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <!-- Header  -->
    <header>
      <nav class="nav fixed-top">
        <a class="nav-link active nav-brand" href="/products"><i class="fas fa-cart-arrow-down"></i> Electronic<span class="fw-normal">_Store</span> </a>
        <form class="d-flex" action="/products" method="post">
          <input class="form-control me-2" type="search" placeholder="Search products.." aria-label="Search" name="search" autocomplete="off" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <button class="btn btn-login ms-auto me-3"><a href="/products/transaction">Transaction</a></button>
        <a class="btn-add ms-auto me-3" href="/products/add">Add Products <i class="fas fa-plus ms-2"></i></a>
        <button class="btn btn-login ms-auto me-3" onclick="return confirm('Are You Sure Logout?')">
          <a href="/products/logout">Logout</a>
        </button>
      </nav>
    </header>
    <div class="container container-products">
      <div class="text-product text-center">
        <h2>Products</h2>
      </div>
      <div class="card">
        <!-- success -->
        <!-- success -->
        <% if (messages.successadd) { %>
        <div class="alert alert-danger" role="alert"><%- messages.successadd %></div>
        <% } %> <% if (messages.success) { %>
        <div class="alert alert-danger" role="alert"><%- messages.success %></div>
        <% } %>
        <!-- Products -->
        <div class="row products">
          <% if (!data.length) { %>
          <div class="row alerts">
            <div class="col-md text-center">
              <div class="alert alert-warning" role="alert">product not found !</div>
            </div>
          </div>
          <% } %> <% data.forEach(data => { %>
          <div class="col-md-4 mb-3">
            <div class="card ms-3" style="width: 90%">
              <img src="images/<%= data.images %> " class="card-img-top" height="250px" />
              <div class="card-body">
                <h5 class="card-title fw-bold"><%= data.name %></h5>
                <p>Rp. <%= data.price %></p>
                <p class="text-muted">Stock : <%= data.quantity %></p>
                <a href="/products/edit/<%= data.id_products %>" class="btn btn-product"><i class="fas fa-cog"></i> Edit</a>
                <a href="/products/details/<%= data.id_products %>" class="btn btn-product"><i class="fas fa-info"></i> Details</a>
                <button onclick="return confirm('Are you sure?')" style="border: none">
                  <a href="products/delete/<%= data.id_products %>" class="btn btn-product"><i class="fas fa-trash-alt"></i></a>
                </button>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <footer style="background-color: #ffcd39">
      <div class="container text-center mt-5 p-3 container-footer">
        <div class="sosmed">
          <a href="http://www.linkedin.com/donny-marsahid">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="http://facebook.com/donymarsahid"><i class="fab fa-facebook"></i></a>
          <a href="http://instagram.com/donnymrshd"><i class="fab fa-instagram"></i></a>
        </div>
        <p class="text-muted" style="color: rgb(31, 31, 31) !important; font-weight: 600">
          &copy;2021
          <a href="http://instagram.com/donnymrshd" class="text-muted" style="font-weight: 600; text-decoration: none; color: rgb(31, 31, 31) !important"> Donny Marsahid </a>
        </p>
        <div class="code">
          <a href="https://dribble.com/"><i class="fab fa-dribbble"></i></a>
          <a href="https://github.com/donnymarsahid"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </footer>
    <script src="javascripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
